:root {
    --bg-color : darkviolet ;
    --text-color : white ;
    --border-color : darkcyan ;
    --sm-fs : .8rem;
    --md-fs : 1.2rem;
    --xl-fs : 1.8rem;
    --sans : sans-serif;
    --serif : serif;
}
/* 1rem - 16px */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color : inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
    display: inline-block;
}

.container {
    color: var(--text-color);
    font-family:var(--sans) ;

}

.header {
    background-color: var(--bg-color);
    display: flex;
    padding: 1.2rem;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    width: 2rem ;
}

.nav {
    width: 30% ;
}

.nav__items {
    display: flex;
    justify-content: space-between;
}

.content-wrapper {
    height: 100vh;
    background: linear-gradient(rgb(175, 70, 227) , darkviolet);
}